*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

/* Barre de navigation  */
nav{
    width: 100%;
    height: 70px;
    background: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: none;
}

nav ul li a{
    line-height: 70px;
    text-decoration: none;
    color: #333;
    transition: all .1s ease-in-out;
    
}
nav ul li a:hover{
    line-height: 70px;
    text-decoration: underline;
    color: #333;
    font-size: 1.5rem;
}

/* Main */ 
main .welcome{
    text-align: center;
    margin: 50px 0;
}

main .welcome-desc{
    width: 50%;
    margin: 0 auto 20px;
    text-align: justify;
    line-height: 30px;
}
main h2{
    text-align: center;
    padding: 20px 0;
    font-size: 1.7rem;
}
main .return-home{
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    text-decoration: none;
}

/* Carte des livres*/

.article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-card{
    width: 40%;
    max-width: 400px;
    min-width: 300px;
    height: auto;
    margin: 20px;
    box-shadow: 0px 0px 5px #333;
    background: #fff;
    position: relative;
    transition: all .3s ease-in-out;
}
.article-card:hover{
    box-shadow: 0 0 50px #333;

}

.article-card h3{
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
}
.article-card .desc{
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
    margin-top: 20px;
}
.article-card .price{
    text-align: center;
    padding: 20px 0;
    font-size: 1.7rem;
}

.article-card img{
    width: 100%;
    height: auto;
}

.article .produit-unique{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 999px;
    box-shadow: 1px 1px 2px #333;
    margin: 10px auto;
    width: 50%;
}

.article .produit-unique:hover{
    background: #333;
    color: #fff;
    
}

main .return-home{
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    text-decoration: none;
}

/* Formulaire de contact */

form{
    
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

form label{
    padding: 5px 10px;
    
}

form input{
    padding: 5px 10px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 999px;

}

form textarea{
    height: 150px;
    padding: 5px 10px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 10px;
}

form button{
    width: 50%;
    padding: 5px ;
    margin: 10px auto;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    border-radius: 999px;
}
form button:hover{

    background: #333;
    color: #fff;
    
}